/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b751a;
    position: relative;
    z-index: 0;
}

header {
    position: fixed; 
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
    color: white;
    font-size: var(--principal-h1-size);
    letter-spacing: 0.4rem;
    font-weight: bold;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


#finalChico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#espaco-chico{
    width: 100%;
    display: flex;
    justify-content: center;
}

#gifResultado{
    width: 100%;
    height: 60vh;
    top: 20%;
    right: 20%;
    display: flex;
    justify-content: center;
}

#mensagemTitulo {
    color: #000 !important;
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-alt-pixellari);
    margin: 10px 0;
}

#mensagem,
#mensagem2, 
#mensagem3{
    color: #000;
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--font-alt-videotype);
    color: #043A09;
}



#position-video{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#video{
    width: 200px;
    height: 200px;
}

.overlay-img {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
    opacity: 0.2; 
}

#texto{
    border: 8px solid #87c269;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    color: #000 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.linear-green{
    background: linear-gradient(45deg, #035A51, #61AE44); /* Cores do gradiente */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
}

.linear-orange{
    background: linear-gradient(45deg, #035A51, #f39c12); /* Cores do gradiente */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
}
.linear-red{
    background: linear-gradient(45deg, #f39c12, #e74c3c ); /* Cores do gradiente */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    -webkit-text-fill-color: transparent;
}
