@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #037714;
    position: relative; 
    min-height: 100vh; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 111, 35, 0.766); 
    z-index: -1; 
}

#chico{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45%; 
    height: auto; 
    transition: all ease .5s;
}
#chico-boca{
    position: absolute;
    top: 65%;
    left: 53%;
    transform: translate(-50%, -50%);
    max-width: 25%;  
    height: auto; 
    transition: all ease .5s;
}
#espaco-chico{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#Character{
    width: 80%;
    display: flex;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.buttons button{
    min-width: 500px;
    /*padding: 15px 5px;*/ /* comentando esse pq o outro ficou mais interessante */
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;;
    border: 4px solid #023f39;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    background-color: #DBDBDB;
    font-size: 24px;
    color: #023f39;
}

.buttons button:hover {
    border-image: linear-gradient(to bottom, #9AF8AC, #01332E);
    border-image-slice: 4;
    background: linear-gradient(180deg, #07A163,  #036D57);
    color: #fff;
    box-shadow: 15px 17px 0 rgba(1, 63, 57, 0.72)
}

.button-ghost{
    background-color: transparent !important;
    color: #fff !important;
    border: 4px solid #fff !important;
}
.button-ghost:hover{
    border-image: linear-gradient(to bottom, #9AF8AC, #01332E) !important;
    border-image-slice: 4 !important;
    background: linear-gradient(to bottom, #07A163,  #036D57);
    color: #fff;
}

.buttons button img{
    width: 40px;
    height: 40px;
}
.buttons button p{
    font-size: 1.1rem;
}


.initial{
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.initial .buttons button{
    padding: 20px 5px;
}

/* categorias */

.categories{
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories h3{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.categories-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.overlay-img {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
    opacity: 0.2; 
}