<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <img src="../static/imgs/Circuito 2.png" class="overlay-img" alt="Imagens de circuitos elétricos que fazem parte do Chico">
    <div class="categories">
        <h1>Escolha uma categoria</h1>
        <div class="buttons categories-buttons">
            <button class="option-response" onclick="irParaQuiz('Cultura-Maker-e-Tecnologia')">Cultura-Maker-e-Tecnologia</button>
            <button class="option-response" onclick="irParaQuiz('Inteligência-Artificial-e-Inovação')">Inteligência-Artificial-e-Inovação</button>
            <button class="option-response" onclick="irParaQuiz('Startups-e-Empreendedorismo')">Startups-e-Empreendedorismo</button>
            <button class="option-response" onclick="irParaQuiz('Inovação-no-Agronegócio-e-Saúde')">Inovação-no-Agronegócio-e-Saúde</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>