<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/finalStyle.css">
    <link rel="stylesheet" href="/static/root.css">
    <title>Document</title>
</head>
<body>
    <img src="../static/imgs/Circuito 2.png" class="overlay-img" alt="Imagens de circuitos elétricos que fazem parte do Chico">
    
    <header>
        <div id="position-video">
            <video id="video" autoplay></video>
            <canvas id="canvas" style="display:none;"></canvas>
        </div>
    </header>
    
    <div id="finalChico">
        <div id="espaco-chico">
            <img id="gifResultado" src="/static/gifs/grandes/ThugLifeGrande.gif" alt="">
        </div>
        <div id="#texto">
            <h3 id="mensagemTitulo"></h3>
            <p id="mensagem"></p>
            <p id="mensagem2"></p>
        </div>
       
    </div>
    <script src="{{ url_for('static', filename='fotoFinal.js') }}"></script>
</body>
</html>