<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/initial.css">
    <title>Chico quiz</title>
</head>
<body>
    <img src="../static/imgs/Circuito 2.png" class="overlay-img" alt="Imagens de circuitos elétricos que fazem parte do Chico">
    <div id="espaco-chico">
        <img  id="Character" src="../static/gifs/InicioGif.gif" alt="Chico">
    </div>
    
    
    <div class="container">
        <!-- <img id="chico" src="../static/imgs/chico.svg" alt=""> -->
        <!-- <img id="chico-boca" src="../static/imgs/chico-stand.svg" alt=""> -->
    </div>



    <div class="initial">
        <div class="buttons">
            <button id="play" onclick="irParaCategoria()">Jogar</button>
            <button class="button-ghost">Self com o Chico</button>
        </div>
    </div>
    <script src="../static/script.js"></script>
    <script src="../static/main.js" defer></script> 
</body>
</html>

