    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
        
        <link rel="stylesheet" href="/static/root.css">
        <link rel="stylesheet" href="../static/style.css">
        <title>Document</title>
    </head>
    <body>
        <img src="../static/imgs/Circuito 2.png" class="overlay-img" alt="Imagens de circuitos elétricos que fazem parte do Chico">
        <header>
            <div id="pontuacao">Pontos: 0/100</div>
        </header>
        <main>
            <img id="Character" src="../static/gifs/pequenos/FalandoPequeno.gif" alt="Chico">
        </main>
        <section>
            <div id="quiz">
                <div id="timer-circle">
                    <svg width="150" height="150">
                        <!-- Círculo de fundo -->
                        <circle cx="75" cy="75" r="60" stroke="#ddd" stroke-width="8" fill="#FFF"/>
                    
                        <!-- Círculo do timer -->
                        <circle id="timer-circle" cx="75" cy="75" r="60" stroke="#0BBC64" stroke-width="8" fill="none"
                                stroke-dasharray="376.99" stroke-dashoffset="0"
                                stroke-linecap="round" transform="rotate(-90 75 75)"/>
                        
                        <!-- Texto do timer -->
                        <text id="timer-text" x="75" y="85" font-size="25" font-weight="bold" text-anchor="middle" fill="#08450A"></text>
                    </svg>
                </div>
                
                <div id="pergunta">
                    <h3 id="perguntas"></h3>
                </div>
                <div id="options">
                    <div id="options-response"></div>
                </div>    
            </div> 
        </section>
        <!-- static/musica.html -->
        <audio id="musica" autoplay loop>
            <source src="/static/audios/musica-fundo.mp3" type="audio/mpeg">
        </audio>

        <script src="../static/musicaFundo.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    </html>