<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <img src="../static/imgs/Circuito 2.png" class="overlay-img" alt="Imagens de circuitos elétricos que fazem parte do Chico">
    <header>
        <div id="pontuacao">Pontos: 0/100</div>
    </header>
    <div id="quiz">
        <div id="timer-circle">
            <svg width="100" height="100">
                <circle cx="50" cy="50" r="40" stroke="#ddd" stroke-width="8" fill="#FFF"/>
                <circle id="timer-circle" cx="50" cy="50" r="40" stroke="#0BBC64" stroke-width="8" fill="none"
                        stroke-dasharray="251.2" stroke-dashoffset="0"/>
                <text id="timer-text" x="50" y="55" font-size="20" font-weight="bold" text-anchor="middle" fill="#08450A"></text>
            </svg>
        </div>
        <div>Animações Chico</div>
        
        <div id="pergunta"></div>
        <div id="options">
            <div id="options-response"></div>
        </div>
    
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>