<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/root.css">
    <link rel="stylesheet" href="/static/selfies.css">
    <title>Selfie</title>
</head>
<body>
    <div class="container">
         <img id="chico" src="../static/gifs/pequenos/BobeiraPequeno.gif" alt="">

         <img id="chico-coracao" class="reaction" src="../static/imgs/CoraçãoGrande.gif" alt="chico apaixonado">
         <img id="chico-thug" class="reaction" src="../static/imgs/ThugLifeGrande.gif" alt="chico thug life">
    </div>

    <div class="container-choice">

        <h2>Escolha uma pose do chico para você tirar uma foto bem bacana #Ch1coSabido</h2>

        <div class="buttons">
            <button id="chico_love_button" class="foto" onclick="irParaChicoApaixonado()">A. Apaixonado</button>
            <button id="chico_thug_button" class="foto" onclick="irParaChicoThuglife()">B. Vida Loka</button>
        </div>
    </div>
    <!-- static/musica.html -->
    <audio id="musica" autoplay loop>
        <source src="/static/audios/musica-fundo.mp3" type="audio/mpeg">
    </audio>
    <script src="../static/musicaFundo.js"></script>
    <script src="{{ url_for('static', filename='selfie.js') }}" defer></script>
</body>
</html>