<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/selfies.css">

    <script src="../static/selfie.js" defer></script>

    <title>Selfie</title>
</head>
<body>
    <div class="container">
         <img id="chico" src="../static/imgs/chico.svg" alt=""> 
         <img id="chico-boca" src="../static/imgs/boca-stand.svg" alt="">

         <img id="chico-coracao" class="reaction" src="../static/imgs/CoraçãoGrande.gif" alt="chico apaixonado">
         <img id="chico-thug" class="reaction" src="../static/imgs/ThugLifeGrande.gif" alt="chico thug life">
    </div>



    <div class="container-choice">

        <h2>Escolha uma pose do chico para você tirar a selfie</h2>

        <div class="buttons">
            <button id="chico_love_button" class="player" onclick="irParaCategoria()">Chico Apaixonado</button>
            <button id="chico_thug_button" class="player" onclick="irParaSelfie()">Chico Thug life</button>
        </div>
    </div>

</body>
</html>