<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="/static/root.css">
    <title>Document</title>
</head>
<body>
    <img src="../static/imgs/Circuito 2.png" class="overlay-img" alt="Imagens de circuitos elétricos que fazem parte do Chico">
    <div id="standby" class="hidden">
        <img id="standbygif" src="../static/gifs/grandes/DeBobeiraGrande.gif" alt="">
    </div>
    <script src="{{ url_for('static', filename='standbyjs.js') }}"></script>
</body>
</html>